a {
    color: darkgrey;
    text-decoration: none;
}

a:visited {
    color: darkgrey;
}

a:hover {
    color: white;
}

.canvas-component {
    padding: 0 1rem 5rem 1rem;
    border-bottom: 1px solid #2f333c;
}

.canvas-component h3 {
    color: #606e7f;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 3rem;
}

.library-side-nav {
    background: #373e48;
    overflow: auto;
    padding: 1rem 0;
    height: 100vh;
    width: 150px;
}

.code-area {
    display: block;
    color: #999;
    padding: 2rem;
    margin: 1rem 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    background: #21262c;
}