a {
    color: darkgrey;
    text-decoration: none;
}

.light-contrast .a {
    color: darkgrey;
    text-decoration: none;
}

a:visited {
    color: darkgrey;
}

a:hover {
    cursor: pointer;
    color: white;
}

.light-contrast a:hover {
    color: black;
}

.canvas-component {
    padding: 0 1rem 5rem 1rem;
    border-bottom: 1px solid #2f333c;
}

.light-contrast .canvas-component {
    border-bottom: 1px solid #e0e0e0;
}


.component-title {
    color: #606e7f;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 5rem;
}

.library-side-nav {
    background: #373e48;
    overflow: auto;
    padding: 1rem 0;
    height: 100vh;
    width: 150px;
}

.light-contrast .library-side-nav {
    background: #f9f9f9;
}