a {
    color: darkgrey;
    text-decoration: none;
}

a:visited {
    color: darkgrey;
}

a:hover {
    color: white;
}

.canvas-component {
    padding: 0 1rem 5rem 1rem;
    border-bottom: 1px solid #2f333c;
}

.canvas-component h3 {
    color: #606e7f;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 3rem;
}

.library-side-nav {
    list-style: none;
    background: #2a2a2a;
    padding: 1rem;
    margin: 0;
}