.library-side-nav {
    background: #222;
    overflow: auto;
    padding: 1rem 0;
    height: calc(100vh - 5rem);
}

.library-side-nav li {
    font-size: .8rem;
    padding: 1rem;
}

.library-side-nav li:hover {
    background: #333;
    cursor: pointer;
}