.filter {
    padding: 0 .5rem;
    margin: 1rem 0 0 0;
    position: relative;
}

.filter input {
    margin: 0;
}

.filter .mi-filter-list {
    position: absolute;
    right: 0;
    padding: 1rem;
}