.app {
    color: white;
    background: #2a2e37;
}

.guide-logo {
    width: 4.5rem;
    padding: 1rem;
    background: rebeccapurple;
}

.guide nav {
    display: flex;
    align-items: center;
    align-content: center;
    height: auto;
}

.app.light-contrast {
    background: #f0f0f0;
}

.app-canvas {
    display: grid;
    overflow: hidden;
}