.nocturnal-app {
  display: grid;
  grid-template-columns: 300px auto;
  color: white;
  background: #2a2e37;
  transition: all 0.4s;
}

.guide-main {
  padding: 2rem;
}

.guide-logo {
  width: 4.5rem;
  padding: 1rem;
  background: rebeccapurple;
}

.guide nav {
  display: flex;
  align-items: center;
  align-content: center;
  height: auto;
}

.app.light-contrast {
  background: #f0f0f0;
}
