a {
    color: darkgrey;
    text-decoration: none;
}

a:visited {
    color: darkgrey;
}

a:hover{
    color: white;
}

.canvas-component {
    padding: 5rem 1rem;
    border-bottom: 1px solid #2f333c;
}

.canvas-component h3 {
    color: #606e7f;
    margin: 0;
    padding-bottom: 3rem;
}